{%- set admin_skin = admin_skin|default("skin-blue") -%}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Silvioq Admin!{% endblock %}</title>

    {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_theme('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset_theme('css/AdminLTE.min.css') }}" />
    <link rel="stylesheet" href="{{ asset_theme('css/skins/' ~ admin_skin ~ '.min.css') }}" />
    <link rel="icon" type="image/x-icon" href="{% block favicon_url %}{{ asset('favicon.ico') }}{% endblock %}" />

    {# --------------------------------------------------------------------------------------------- JAVASCRIPTS_HEAD #}
    {% block javascripts_head %}
    {% endblock %}

</head>
<body class="{{ admin_skin }}">
    <div class="wrapper">

    {% block silvioq_admin_header %}
        <header class="main-header">
            {% block silvioq_logo %}
                <a href="#" class="logo">
                    {{ block('title') }}
                </a>
            {% endblock %}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% block silvioq_navbar %}
                            {% include "SilvioqThemeBundle:block:topMenu.html.twig" %}
                            {# TODO MESSAGES "SilvioqThemeBundle:block:messages.html.twig" }} #}
                            {% include "SilvioqThemeBundle:block:notifications.html.twig" %}
                            {# TODO TASKS {% include "SilvioqThemeBundle:block:tasks.html.twig" %} #}
                            {% include "SilvioqThemeBundle:block:topUser.html.twig" %}
                            {% endblock %}
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </header>
    {% endblock %}

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                {%- block silvioq_sidebar %}
                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {# TODO {% include 'SilvioqThemeBundle:Module:sideUser.html.twig' %} #}
                    {% endif %}
                    {# TODO  {{ include "SilvioqThemeBundle:block:searchForm.html.twig }} #}
                    {% include "SilvioqThemeBundle:block:sideMenu.html.twig" %}
                {% endblock %}
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block silvioq_pre_header %}{% endblock %}
                <h1>
                    {% block page_title %}Blank page{% endblock %}
                    <small>{% block page_subtitle %}Control panel{% endblock %}</small>
                </h1>
                {% block silvioq_breadcrumb %}
                    {# TODO BREADCRUMB
                    {{ render(controller('SilvioqThemeBundle:Module:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
                    #}
                {% endblock %}
            </section>

            {% include "SilvioqThemeBundle:layout:flashbags.html.twig" %}
            <!-- Main content -->
            <section class="content">
                {% block page_content %}{% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    {% block silvioq_admin_footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                {% block version %}
                <b>Version</b> 2.0
                {% endblock %}
            </div>
            {% block copyright %}
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
            {% endblock %}
        </footer>
    {% endblock %}

    </div>
<!-- ./wrapper -->

{# ------------------------------------------------------------------------------------------------------ JAVASCRIPTS #}
{% block javascripts %}
    <script src="{{ asset_theme("plugins/jQuery/jQuery-2.1.4.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset_theme('js/app.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset_theme('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

{# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>
