{% trans_default_domain 'SilvioqThemeBundle' %}
{% if app.session.flashbag.has( "error" ) %}
<div class="box-body">
    {% for message in app.session.flashbag.get( "error" ) %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i>{{ 'Alert!' | trans }}</h4>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if app.session.flashbag.has( "info" ) %}
<div class="box-body">
    {% for message in app.session.flashbag.get( "info" ) %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info"></i>{{ 'Information' | trans }}</h4>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if app.session.flashbag.has( "warning" ) %}
<div class="box-body">
    {% for message in app.session.flashbag.get( "warning" ) %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i>{{ 'Warning!' | trans }}</h4>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if app.session.flashbag.has( "success" ) %}
<div class="box-body">
    {% for message in app.session.flashbag.get( "success" ) %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i>{{ 'Success!' | trans }}</h4>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
