{% extends 'form_div_layout.html.twig' %}

{% block widget_attributes %}
{% spaceless %}
{% set types = form.vars.block_prefixes %}
{% if 'checkbox' in types %}
    {%- set _class = 'checkbox' %}
{% elseif 'radio' in types%}
    {%- set _class = 'radio' %}
{% else %}
    {%- set _class = 'form-control' %}
{% endif %}
{% if attr.class is defined %}
    {%- set class = attr.class ? attr.class ~ ' ' ~ _class : _class %}
{% else %}
    {%- set class = _class %}
{% endif %}
{% set attr = attr|merge({'class' : class}) %}
{{ parent () }}
{% endspaceless %}
{% endblock widget_attributes %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ " select2" %}
    {% else %}
        {% set class = "select2" %}
    {% endif %}
    {% set attr = attr|merge({'class' : class}) %}
    {{ parent() }}
{% endblock %}

{% block checkbox_widget %}
{%- if label_attr.class|default('') != "checkbox-inline" -%}
    <div class="checkbox">
{%- endif -%}
{% spaceless %}
    {%- if not compound %}
        {%- set label_attr = label_attr|merge({'for': id}) %}
    {%- endif %}
    {%- if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif %}
    {%- if label is empty %}
        {%- set label = name|humanize %}
    {%- endif -%}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% if label is not same as(false) %}
        {{ label|trans({}, translation_domain) }}
    {% endif %}
    {% if help is defined %}
        &nbsp; <a href="#" data-toggle="tooltip" data-original-title="{{ help|trans }}"><i class="fa fa-question-circle"></i></a>
    {% endif %}
    </label>
{% endspaceless %}
{%- if label_attr.class|default('') != "checkbox-inline" -%}
    </div>
{%- endif -%}
{% endblock checkbox_widget %}

{% block radio_widget %}
    <div class="radio">
        {% spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not same as(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endspaceless %}
    </div>
{% endblock radio_widget %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>

            {% if attr.class is defined %}
                {% set class = attr.class ~ ' datepicker' %}
            {% else %}
                {% set class = 'datepicker' %}
            {% endif %}
            {% set attr = attr|merge({'class' : class, 'data-provide':'datepicker', 'data-date-format':'yyyy-mm-dd'}) %}
            {% set type = "text" %}

            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
        {{ date_pattern|replace({
        '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
        '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
        '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
        })|raw|replace({
        '{{ year }}':  form_widget(form.year),
        '{{ month }}': form_widget(form.month),
        '{{ day }}':   form_widget(form.day),
        })|raw }}

    {% endif %}
{% endblock %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        <div class="bootstrap-timepicker">
            <div class="input-group">
                <div class="input-group-addon add-on">
                    <i class="fa fa-clock-o"></i>
                </div>
                {% if attr.class is defined %}
                    {% set class = attr.class ~ ' timepicker' %}
                {% else %}
                    {% set class = 'timepicker' %}
                {% endif %}
                {% set type = "text" %}
                {% set attr = attr|merge({'class' : class, 'data-provide':'timepicker', 'data-show-meridian':"false"}) %}
                {{ block('form_widget_simple') }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block form_row %}
{% set types = form.vars.block_prefixes -%}
{% if 'checkbox' in types or 'radio' in types %}
    <div class="form-group{{ errors|length > 0 ? ' has-error has-feedback'  : '' }}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}</div>
{% else -%}
    <div class="form-group{{ errors|length > 0 ? ' has-error has-feedback'  : '' }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}</div>
{% endif -%}
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) -%} 
        {% if not compound -%} 
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}          
        {% if required -%}     
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}          
        {% if label is empty -%}        
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,                 
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %} 
            {%- endif -%}
        {%- endif -%}          
        <label{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {%- if required %}
        <span class="required" title="{{ 'Required'|trans({}, 'SilvioqThemeLTEBundle') }}">*</span>
        {%- endif %}
        {%- if help is defined %}
        &nbsp; <a href="#" data-toggle="tooltip" data-original-title="{{ help|trans }}"><i class="fa fa-question-circle"></i></a>
        {%- endif %}</label>
    {%- endif -%}
{% endblock form_label %}

{% block form_errors %}
{%- if errors|length > 0 -%}
<ul class="list-unstyled">
{%- for error in errors -%}
<li class="text-danger">{{ error.message }}</li>
{%- endfor -%}
</ul>
{%- endif -%}
{% endblock form_errors %}

{% block form_start %}
{% set method = method|upper %}
{%- if method in ["GET", "POST"] -%}
    {% set form_method = method %}
{%- else -%}
    {% set form_method = "POST" %}
{%- endif -%}
{%- if attr.no_box is defined -%}
<!-- no box activado -->
{%- else -%}
<div class="box-body">{# this div is closed at form_end #}
{%- endif -%}

<form name="{{ name }}" method="{{ form_method|lower }}" role="form" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
{%- if form_method != method -%}
    <input type="hidden" name="_method" value="{{ method }}" />
{%- endif -%}
{% endblock form_start %}

{% block form_end %}
{{ parent() }}
    {%- if attr.no_box is defined -%}
    <!-- no box activado -->
    {%- else -%}
    </div><!-- box-body -->
    {%- endif -%}
{% endblock form_end %}


{%- block color_widget -%}
{%- set type = "color" -%}
{{ block("form_widget_simple") }}
{% endblock %}

{%- block button_widget -%}
{% if attr.class is defined %}
    {%- set class = attr.class ~ " btn btn-success pull-right" %}
{% else %}
    {%- set class = "btn btn-success pull-right" %}
{% endif %}
{% set attr = attr|merge({'class' : class}) %}
{{ parent() }}
{%- endblock button_widget -%}

{%- block reset_widget -%}
{% if attr.class is defined %}
    {%- set class = attr.class ~ " btn btn-danger pull-left" %}
{% else %}
    {%- set class = "btn btn-danger pull-left" %}
{% endif %}
{% set attr = attr|merge({'class' : class}) %}
{{ parent() }}
{%- endblock reset_widget -%}

{%- block mask_js_widget -%}
{%- set type = "text" -%}
{%- set attr = attr|merge({"data-inputmask-groupSeparator": mask.grouping_symbol,
        "data-inputmask-radixPoint": mask.decimal_symbol,
        "data-inputmask":"",
        "data-inputmask-digits": mask.scale,
        "data-inputmask-alias": "decimal"}) -%}
{{ block("form_widget_simple") }}
{%- endblock mask_js_widget -%}
