{%- set admin_skin = admin_skin|default("skin-blue") -%}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Silvioq Admin!{% endblock %}</title>

    {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
    {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset_theme('css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset_theme('bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset_theme('css/skins/' ~ admin_skin ~ '.min.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# --------------------------------------------------------------------------------------------- JAVASCRIPTS_HEAD #}
    {%  block javascripts_head %}
    {% endblock %}

</head>
<body class="login-page">
{% block page_content %}{% endblock %}

{# ------------------------------------------------------------------------------------------------------ JAVASCRIPTS #}
{% block javascripts %}
    <script scr="{{ asset_theme("plugins/jQuery/jQuery-2.1.4.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset_theme('js/app.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset_theme('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

{# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>
