{% if silvioq_param.notificationsEnabled %}
{% trans_default_domain 'SilvioqThemeBundle' %}
<!-- Notifications: style can be found in dropdown.less -->
{%- if silvioq_param.showNotificationsOnZero or silvioq_block.hasNotifications %}
{%- set total = silvioq_block.notifications|length %}

<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-{{ silvioq_param.badgeType|default('warning') }}">{{ total }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">{{ 'You have %total% notifications'|transchoice( total, {'%total%': total}) }}</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
            {%- for notice in silvioq_block.notifications %}

                <li>
                    <a href="{{ notice.url }}">
                        <i class="{{ notice.icon }} {{ notice.type }}"></i> {{notice.message}}
                    </a>
                </li>
            {%- endfor %}

            </ul>
        </li>
        {%- if silvioq_param.viewAllNotificationsUrl %}

        <li class="footer"><a href="{{ silvioq_param.viewAllNotificationsUrl }}">{{'View all'|trans}}</a></li>
        {%- endif %}

    </ul>
</li>
{% endif -%}
{% else %}<!-- notifications disabled -->
{%- endif %}
