{% macro menu_item(item) %}
    <li id="{{ item.identifier }}" class="{{ item.isActive ? 'active' : '' }}{{ item.hasChildren? ' treeview' : '' }}">
        {% set path = item.route ? path(item.route, item.routeArgs) : '#' -%}
        <a href="{{ item.hasChildren ? '#': path }}">
            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif -%}
            <span>{{ item.label }}</span>
            {%- if item.badge -%}
                <span class="pull-right-container"><small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small></span>
            {%- endif -%}
            {%- if item.hasChildren %}

            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            {%- endif %}

        </a>

        {%- if item.hasChildren %}

        <ul class="treeview-menu">
            {%- for child in item.children %}
            {%- set path = child.route ? path(child.route, child.routeArgs) : '#' %}

            <li class="{{ child.isActive ? 'active':'' }}" id="{{ child.identifier }}">
                <a href="{{ path }}">
                {% if child.icon -%}
                    <i class="{{ child.icon }}"></i>
                {%- else -%}
                    <i class="fa fa-circle-o"></i>
                {%- endif %}

                    {{ child.label }}
                </a>
            </li>
            {%- endfor %}

        </ul>
        {%- endif %}

    </li>
{% endmacro %}
{% import _self as macro %}
{% if silvioq_block.hasSideMenus %}
<!-- sidebar menu: style can be found in sidebar.less -->
<ul class="sidebar-menu">
{% for item in silvioq_block.sideMenus %}
{{ macro.menu_item(item) }}
{%- endfor %}
</ul>
{% else %}<!-- sidebar menu: empty -->
{% endif %}
