{% macro avatar(image, alt, class) %}
{% if image %}<img src="{{ asset(image) }}" class="{{ class|default('img-circle') }}" alt="{{ alt }}" />
{%- endif %}
{% endmacro %}

{%- if silvioq_block.user %}
<!-- User Account: style can be found in dropdown.less -->
{% import _self as macro %}
{% trans_default_domain 'SilvioqThemeBundle' %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(silvioq_block.user.avatar, silvioq_block.user.username, 'user-image') }}
        <span class="hidden-xs">{{ silvioq_block.user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(silvioq_block.user.avatar, silvioq_block.user.username) }}
            <p>
                {{silvioq_block.user.name}}{% if silvioq_block.user.title is not empty %} - {{silvioq_block.user.title}}{% endif %}

                <small>{{ 'Member since %date%'|trans({'%date%': silvioq_block.user.memberSince|date('m.Y') }) }}</small>
            </p>
        </li>
        <!-- Menu Body -->
        {% block silvioq_usertop_menubody %}{#
        <li class="user-body">
            <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
            </div>
        </li>
        #}{% endblock silvioq_usertop_menubody %}
        <!-- Menu Footer-->
        {% block silvioq_usertop_menufooter %}
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path(silvioq_block.user.profileRoute, silvioq_block.user.profileRouteArgs) }}" class="btn btn-default btn-flat">
                    {{'Profile'|trans}}
                 </a>
            </div>
            <div class="pull-right">
                <a href="{{ path(silvioq_block.user.logoutRoute) }}" class="btn btn-default btn-flat">{{ 'Sign out'|trans }}</a>
            </div>
        </li>
        
        {%- endblock silvioq_usertop_menufooter %}

    </ul>
</li>
{% else %}<!-- no user data -->
{% endif %}
